@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@500&family=Plus+Jakarta+Sans&display=swap');

* 
{
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    background: white;
    height: 1440px;
    font-family: 'Plus Jakarta Sans' 'montserrat' 'Josefin Sans', sans-serif;
}

.navbar {
    width: 90%;
    height: 70px;
    max-width: 100%;
    position: fixed;
    top: 25px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    border-radius: 33px;
    margin: 0 0 0 50px;
    font-size: 14px;
    line-height: 1.5rem;
    color: white;
    background: rgb(202,228,253);
    background: linear-gradient(90deg, rgba(202,228,253,1) 36%, rgba(125,184,255,1) 100%);
    box-shadow: 0px 2px 5px rgba(88, 116, 157, 0.15);
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    position: relative;
    height: 100%;
    list-style: none;
}

.navbar li a{
    /* height: 100%; */
    position: relative;
    padding: 25px 62px;
    display: flex;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

a:hover{
    color: #ed0488;
}
.navbar a {
    text-decoration: none;
    transition: all .26s ease;
    /* display: inline-block; */
    line-height: 1;
    z-index: 100;
}

.navbar a:hover {
    background-color: rgba(245, 245, 245, 0.507);
    color: #ed0488;
    height: 0;
    padding-left: 6.1px;
    border-left: solid 4px #ed0488;
    border-radius: 0 10px 10px 0;
    z-index: 5;
}

.gg-mail,
.gg-mail::after {
 display: block;
 box-sizing: border-box;
 height: 14px;
 border: 2px solid
}

.gg-mail {
 overflow: hidden;
 transform: scale(var(--ggs,1));
 position: relative;
 left: 56px;
 width: 38px;
 height: 23px;
 border-radius: 2px;
}

.gg-mail::after {
 content: "";
 position: absolute;
 border-radius: 3px;
 width: 27px;
 height: 38.7px;
 transform: rotate(-45deg);
 bottom: 3px;
 left: 0;
}

#home {
    /* width: 100%; */
    max-width: 100%;
    margin: auto;
    position: relative;
}

.section{
    margin: auto;
    max-width: 1000px;
    position: relative;
    display: flex;
}

.text-title {
    font-size: 4em;
    position: relative;
    letter-spacing: 6px;
    font-family: 'Josefin Sans', sans-serif;
    top: 14rem;
    left: 3em;
    justify-content: center;
    text-align: center;
}

.text-title span {
    font-size: 32px;
    line-height: 2;
}

.text-title p{
     font-size: 16px;
     letter-spacing: 2px;
     line-height: 1.5;
}